* {
    background-color: #242f35; /* gunmetal */
    background-color: #261d14; /* brown */
    background-color: #212121; /* offgrey */
    background-color: #777e82; /* grey */
    background-color: #a0a0a0; /* greywhite */
    background-color: #088695; /* blue */
    background-color: #391111; /* darkred */
    background-color: #f44336; /* red */
    background-color: #ff0000; /* redder */
    background-color: #1e2c1d; /* offoffgreen */
    background-color: #263226; /* offgreen */
    background-color: #459948; /* green */
    background-color: #1b5e20; /* darkgreen*/
    background-color: #9a8866; /* goldish */
}
