:root {
    /* Primary Colors */
    --color-gunmetal: #242f35; /* gunmetal */
    --color-brown: #261d14; /* brown */
    --color-offgrey: #212121; /* offgrey */
    --color-grey: #777e82; /* grey */
    --color-greywhite: #a0a0a0; /* greywhite */
  
    /* Accent Colors */
    --color-blue: #088695; /* blue */
    --color-darkred: #391111; /* darkred */
    --color-red: #f44336; /* red */
    --color-redder: #ff0000; /* redder */
  
    /* Greens */
    --color-offoffgreen: #1e2c1d; /* offoffgreen */
    --color-offgreen: #263226; /* offgreen */
    --color-green: #459948; /* green */
    --color-darkgreen: #1b5e20; /* darkgreen */
  
    /* Miscellaneous */
    --color-goldish: #9a8866; /* goldish */
  }

  /* var(--color-goldish); */
  /*   --color-bg-main: #242f35; also an option
  --color-bg-secondary: #261d14; 
  --color-text-primary: #a0a0a0; 
  --color-text-accent: #f44336;
  --color-border: #777e82; */

* {
    font-family: "Share Tech Mono", serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
}

h1 {
    font-size: 72px;
    background-color: var(--color-gunmetal);
}

th {
    font-size: 24px;
    background-color: var(--color-brown);
}

td, s {
    background-color: var(--color-offgrey);
}

/* Ensure the table container takes up the full width */
#hideout_wrapper {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto;
}

/* Make the table itself fill the container */
#hideout {
    width: 100% !important;
}

/* Wrap text in table cells */
#hideout td {
    white-space: normal !important;
    word-wrap: break-word;
}

/* Optional: Add padding to cells for better readability */
#hideout td, #hideout th {
    padding: 8px;
}