{% extends "base.html" %}

{% block title %}Overview - {{ overview.basic.nickname }}{% endblock %}

{% block content %}
    <h1 class="border-b-1 text-center text-3xl">Overview | {{ overview.basic.nickname }}</h1>
    {% if alerts.task_items or not alerts.health or not alerts.energy or not alerts.hydrations %}
        <div class="flex">
            <div class="w-1/3"></div>
        <div class="w-1/3 border text-center text-red-500 border-red-400 bg-red-500/30">
            <div class="bg-red-500/40 text-center">
                <h2>!! ALERT !!</h2>
            </div>
            {% if alerts.task_items %}
                <h4>TASK ITEMS IN INVENTORY</h4>
                {% for item in alerts.task_items %}
                    <ul>
                        <li>{{ item }}</li>
                    </ul>
                {% endfor %}
            {% endif %}
            {% if not alerts.health %}
                <h4><b class="text-red-600">HEAL YOUR MAN</b></h4>
            {% endif %}
            {% if not alerts.energy %}
                <h4><b class="text-blue-600">FEED YOUR MAN</b></h4>
            {% endif %}
            {% if not alerts.hydration %}
                <h4><b class="text-blue-600">WATER YOUR MAN</b></h4>
            {% endif %}
        {% endif %}
        </div>
        <div class="w-1/3"></div>
        </div>
    <!-- Basic Information Section -->
    <div class="card mb-3">
        <div class="card-header">
            <h2>Basic Information</h2>
        </div>
        <div class="card-body">
            <h4>Level {{ overview.basic.level }} {{ overview.basic.faction }} {{ overview.basic.survivor_class }}</h4>
            <ul>
                <li><strong>Experience Gained:</strong> {{ overview.basic.exp_gained }}</li>
                <li><strong>Accuracy [Session | Overall]:</strong> {{ overview.session_accuracy }} | {{ overview.overall_accuracy }}</li>
                <li><strong>Registration Date:</strong> {{ overview.basic.reg_date }}</li>
                <li><strong>Lifetime Insured Items:</strong> {{ overview.basic.total_insured_items }}</li>
                <li><strong>Ragfair Rating:</strong> {{ overview.basic.ragfair_rating }}</li>
                <li><strong>Playtime:</strong> {{ overview.basic.ingame_time}}</li>
                <li><strong>Scav Karma:</strong> {{ overview.basic.scav_karma }}</li>
            </ul>
        </div>
    </div>

    <!-- Last Raid Section -->
    <div class="card mb-3">
        <div class="card-header">
            <h2>Last Raid</h2>
        </div>
        <div class="card-body">
            <ul>
                <li><strong>Last Death:</strong>
                    <ul>
                        <li><strong>Killer:</strong> {{ overview.last_raid.last_death.killer.name }} ({{ overview.last_raid.last_death.killer.side }})</li>
                        <li><strong>Weapon:</strong> {{ overview.last_raid.last_death.killer.weapon }}</li>
                        <li><strong>Body Part:</strong> {{ overview.last_raid.last_death.killer.BodyPart }}</li>
                        <li><strong>Cause:</strong> {{ overview.last_raid.last_death.cause.damage_type }} ({{ overview.last_raid.last_death.cause.weapon }})</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}