{% extends "base.html" %}

{% block title %}Quests - {{ player_id }}{% endblock %}

{% block content %}
    <h1 class="border-b-1 text-center text-3xl">QUESTS</h1>
    <table id="quests" class="display mt-2 w-full border">
        <thead>
            <tr>
                <th align="left">QUEST</th>
                <th align="left">PROGRESS</th>
                <th align="left">CONDITIONS</th>
            </tr>
        </thead>
        <tbody>
            {% for quest in quests %}
                {% for condition in quest.conditions %}
                <tr>
                    <td>{{ quest.name }}</td>
                    <td align="center">{{ condition.progress }}</td>
                    <td>{{ condition.description|safe }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}