{% extends "base.html" %}

{% block title %}Quests - {{ player_id }}{% endblock %}

{% block content %}
    <h1 align="center">QUESTS</h1>
    <table id="quests" class="display">
        <thead>
            <tr>
                <th align="left">QUEST</th>
                <th align="left">PROGRESS</th>
                <th align="left">CONDITIONS</th>
            </tr>
        </thead>
        <tbody>
            {% for quest in quests %}
                {% for condition in quest.conditions %}
                <tr>
                    <td>{{ quest.name }}</td>
                    <td align="center">{{ condition.progress }}</td>
                    <td>{{ condition.description|safe }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            $('#quests').DataTable();
        });
    </script>
{% endblock %}